@import url(../components/minicart.css);

.header{
    background-color: var(--purple-900);
    color: var(--white-900);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link{
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 768px){
    .header__container{
        flex-wrap: wrap;
    }
}