.minicart__summary{
    list-style: none;
    cursor: pointer;
}
.minicart {
    position: relative;
}

.minicart__main{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 61px;

    background-color: var(--white-900);
    color: var(--black-900);
    width: 350px;
    padding-top: 36px;
    border-radius: 0px 0px var(--border-radius)  var(--border-radius);
    border: var(--border);
}

.minicart__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.minicart__item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-top: var(--border);
    padding: 16px;
}

.minicart__item__price {
    font-weight: 700;
}

.minicart__footer{
    background-color: var(--purple-900);
    color: var(--white-900);
    padding: 28px;
    border-radius: var(--border-radius);
}

.mincart__footer__item{
    display: flex;
    justify-content: space-between;

    padding: 16px;
    font-weight: 700;
}

@media (max-width: 768px){
    .minicart__main,
    .minicart {
        width: 100%;
    }

    .minicart__summary{
        text-align: right;
    }

    .minicart__item {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
}