@import url(../variaveis.css);
@import url(../reset.css);
@import url(../global.css);
@import url(../components/header.css);
@import url(../components/products.css);
@import url(../components/newsletter.css);
@import url(../components/footer.css);

.banner--primary {
    border-radius: var(--border-radius);
    height: 400px;
    width: 1200px;
    max-width: 100%;
    margin-bottom: 52px;

    background: url(../../images/banner-primary.png) center / cover no-repeat;
}
.banner--secundary {
    border-radius: var(--border-radius);
    width: 685px;
    height: 180px;
    background: url(../../images/banner-secundary.png) center / cover no-repeat;
}

@media (max-width: 992px) {
    .banner--secundary {
    width: 100%;
    }
}